body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0f172a;
}
.card {
    background-color: #1e293b;
    width: 90%;
    max-width: 1440px;
    box-shadow: 3px 3px 4px #222;
    padding: 22px;
    border-radius: 12px;
    text-align: center;
}
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 2px 2px 3px black;
}
h1 {
    color: #ffffff;
}
p {
    color: #94a3b8;
}
a {
    display: block;
    margin: 15px;
    padding: 20px;
    background-color: #334155;
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
}
a:hover {
    background-color: #475569;
}